.contents {
    padding: 2rem 0;
}

.contents h1 {
    color: #E64B7E;
}

.contents p {
    text-align: center;
}

.contents p span {
    display: inline-block;
    text-align: left;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    font-family: serif;
    font-weight: bold;
}

.tableRow {
    text-align: center;
    border-bottom: 2px dotted #E64B7E;
}

.tableRow td {
    padding: 2.5% 0;
    border-right: 0.5rem solid transparent;
}

.span {
    display: inline-block;
    text-align: left;
    padding: 1.5%;
}