.contents {
    padding: 2rem 0;
}

.contents h1 {
    color: #ea618e;
    /*border-bottom: 2px solid #ea618e;*/
}

.contents p {
    text-align: center;
}

.contents p span {
    display: inline-block;
    text-align: left;
    color: #ffffff;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    color: #ffffff;
}

.tableRow {
    text-align: center;
    border-bottom: 1px solid #ea618e;
    color: #ffffff;
}