.h1 {
    color: #DF205F;
    border-bottom: 1px dotted #EA618E;
    line-height: 1;
    margin: 2.5rem 0 0;
}

.h2 {
    color: #EA618E;
    line-height: 1;
    margin: 1rem 0;
}

/* 経歴 */
.profileTable {
    width: 100%;
    margin: 1rem 0 0;
    border-collapse: collapse;
}

.tRow {
    border-bottom: 2px dotted #E64B7E;
    color: #282727;
}

.tRow td {
    padding: 0.5rem 0;
    border-right: 0.5rem solid transparent;
}

@media screen and (min-width: 280px) {
    .date {
        text-align: center;
    }
}

@media screen and (min-width: 650px) {
    .date {
        width: 10%;
    }
}

.locationDot {
    color: #DF205F;
    font-size: 1.5em;
}

/* リンク */
.boxLinkWantedly {
    background-color: #21BDDB;
    border-radius: 10px;
    width: 10vw;
    position: relative;
}

@media screen and (min-width: 280px) {
    .links {
        display: flex;
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 350px) {
    .links {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1000px) {
    .links {
        justify-content: initial;
    }

    .linkIcon {
        margin-right: 0.5rem;
    }
}

.linkContent {
    width: 100%;
    text-align: left;
    color: #282727;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 280px) {
    .card {
        border: 1px solid #c1c4c4;
        border-radius: 10px;
        width: 45vw;
        height: auto;
        margin: 0 auto 0.75rem;
        background-color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        padding: 0.5rem;
        color: #282727;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    .card {
        width: 40vw;
    }
}

@media screen and (min-width: 1200px) {
    .skills {
        justify-content: space-between;
    }

    .card {
        width: 20vw;
        margin: 0 2% 1.5rem 0;
    }

    .card:nth-child(2n) {
        margin-right: 2%;
    }

    .card:nth-child(3n) {
        margin-right: 0;
    }
}

.skillIcon {
    color: #EA618E;
}

.skillContent {
    margin: 0.5rem 0 1.5rem;
    color: #282727;
}

/* 資格 */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0 2.5rem;
    color: #282727;
}

.table thead {
    background-color: #BFBFBF;
}

.table thead th {
    font-family: serif;
    font-weight: bold;
    width: 30%;
}

@media screen and (min-width: 280px) {
    .table thead th:nth-child(1) {
        width: 5%;
    }

    .table thead th:nth-child(2) {
        width: 50%;
    }
}

@media screen and (min-width: 350px) {
    .table thead th:nth-child(3) {
        width: 15%;
    }

    .table thead th:nth-child(2) {
        width: 40%;
    }
}

.tableRow {
    text-align: center;
    border-bottom: 2px dotted #E64B7E;
}

.tableRow td {
    padding: 0.5rem 0;
    border-right: 0.5rem solid transparent;
}

.span {
    display: inline-block;
    text-align: left;
    padding: 1.5%;
}