html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #D8D8D8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: #282727;
}

h1 {
  font-family: 'forum', 'Noto Serif JP', cursive;
}

h2 {
  font-family: 'Noto Serif JP', serif;
}