.h1 {
    color: #282727;
    text-align: center;
    cursor: pointer;
    margin: 2.5rem 0 1rem;
}

.navs {
    text-align: center;
}

.navi {
    font-size: 1.2rem;
    color: #282727;
}

.separator {
    padding: 0 0.5rem;
    color: #DF205F;
    font-weight: bold;
    font-size: 1.2rem;
}