.h1 {
    color: #282727;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.navigation {
    text-align: center;
}

.navi {
    font-size: 1.2rem;
    color: #282727;
}

.separator {
    padding: 0 0.5rem;
    color: #DF205F;
    font-weight: bold;
    font-size: 1.2rem;
}