.contents {
    margin-bottom: 2.5rem;
}

.span {
    border: 1px solid #DF205F;
    padding: 0.5rem;
    color: #DF205F;
}

.spanCurrent {
    border: 1px solid #DF205F;
    padding: 0.5rem;
    background-color: #DF205F;
    color: #ffffff;
}