

.contents h1 {
    color: #DF205F;
    text-align: center;
    padding: 2.5rem 0;
}

.contents div {
    text-align: center;
}

.contents div p {
    display: inline-block;
    text-align: left;
    color: #282727;
}