.contents {
    padding: 2rem 0;
}

.contents h1 {
    color: #ea618e;
    /*border-bottom: 2px solid #ea618e;*/
}

.contents p {
    text-align: center;
}

.contents p span {
    display: inline-block;
    text-align: left;
    color: #ffffff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #c1c4c4;
    border-radius: 10px;
    width: 20vw;
    height: auto;
    margin-bottom: 5%;
    margin-right: 2%;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .cardContents {
    padding: 0.5rem 0;
}

.card .cardContents .appName {
    margin: 0;
    line-height: 1.5;
    font-weight: bold;
}

.card .cardContents .finishedDate {
    color: #878989 ;
    margin: 0;
    line-height: 1.5;
}

.card .cardContents .tag {
    color: #878989 ;
    margin: 0;
    line-height: 1.5;
}